html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-color: #141414;
    display: flex;
    flex-wrap: nowrap;
}

#homepage {
    position: fixed;
}


.shapes {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.black {
    width: 64%;
    opacity: 1;
    transition: 2s;
}
.black:hover {
    opacity: 20%;
}
.b1 {
    position: relative;
    width: 20vw;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 40%;
    filter: blur(70px);
}
.b2 {
    position: relative;
    width: 40vw;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 40%;
    filter: blur(70px);
    margin-bottom: 0;
}
.b3 {
    position: relative;
    margin-right: 0;
    width: 10vw;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 40%;
    filter: blur(70px);
}

.white {
    width: 36%;
}
.w1:hover {
    opacity: 1;
    right: 11vw;
}
.w1 {
    position: relative;
    width: 20vw;
    height: 80vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
    filter: blur(40px);
    opacity: 0.2;
    transition: 2s;
    right: 5vw;
}


.title {
    max-width: 100%;
    position: absolute;
    text-align: center;
    line-height: 10em;
    z-index: 0;
    margin-top: 10%;
    margin-left: 10vw;
}
.normal {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12vw;
  word-spacing: 20px;
  color: #857070;
}
.bold {
    font-family: "Shippori Mincho", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12.3vw;
    color: #dccaca;
    animation: fade 5s infinite;
}
@keyframes fade {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.2; }
}