body, html {
    transform: none;
    position: relative;
}
html {
    margin: 0;
    max-width: 100%;
    background-color: #2a2a2a;
}
body {
    margin: 0;
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
}

/* COLOR NOON */
body.noon-mode .panel {
    background: linear-gradient(#f61414, #d03333);
}
body.noon-mode .floor {
    background: linear-gradient(#fe483b, #ffce0c) ;
}
body.noon-mode .top p, body.noon-mode .top2 p {
    color: #ffce0c;
}
body.noon-mode .bottom p, body.noon-mode .bottom2 p {
    color: #d03333;
}
body.noon-mode .roof {
    background-image: repeating-linear-gradient(315deg, #ffce0ca0, #d03333 3px, transparent -19px, transparent 5px);
}
body.noon-mode .wall {
    background-image: repeating-linear-gradient(-45deg, #d03333, #d03333 2px, #ffce0c 1px, transparent 6px);
}
body.noon-mode .shadow {
    background-image: repeating-linear-gradient(0deg, #d03333, #ffce0c 1px, #d03333 1px, #d03333 4px);
}
body.noon-mode .title, body.noon-mode .title2 {
    font-weight: 700;
    color: #d03333;
}
body.noon-mode .time, body.noon-mode .sub {
    color: #ffce0c;
}
/* COLOR DARK */
body.dark-mode .panel {
    background: linear-gradient(#333, #0e3dcd) ;
}
body.dark-mode .floor {
    background-color: #2b55e0;
}
body.dark-mode .top p, body.dark-mode .top2 p {
    color: #587ffe;
}
body.dark-mode .bottom p, body.dark-mode .bottom2 p {
    color: #333;
}
body.dark-mode .roof {
    background-image: repeating-linear-gradient(315deg, #2b55e0, #333 3px, transparent -19px, transparent 5px);
}
body.dark-mode .wall {
    background-image: repeating-linear-gradient(-45deg, #333, #333 2px, #2b55e0 1px, transparent 6px);
}
body.dark-mode .shadow {
    background-image: repeating-linear-gradient(0deg, #333, #2b55e0 1px, #333 1px, #333 4px);
}
body.dark-mode .title, body.dark-mode .title2 {
    font-weight: 700;
    color: #333;
}
body.dark-mode .time, body.dark-mode .sub {
    color: #2b55e0;
}
body.dark-mode .view {
    background-color: #333;
}
body.dark-mode .shadow .view {
    background-color: #2b55e0;
}

/* PANELS */
.panel {
    background-color: #f2f2f2;
    width: 100%;
    height: 100vh;
    margin: 0;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
#panel2 {
    left: 100%;
}
#panel3 {
    left: 200%;
    width: 180%;
    z-index: 2;
}
#panel4 {
    left: 380%;
    width: 180%;
}
/* TRANSITIONS */
.next {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: ew-resize;
    z-index: 2;
}
.back {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    cursor: ew-resize;
    z-index: 2;
}
#click1 {
    position: absolute;
    width: 50%;
    height: 50%;
    cursor: ew-resize;
    z-index: 2;
    right: 0;
    top: 0;
}
#click2 {
    position: absolute;
    width: 50%;
    height: 50%;
    cursor: ew-resize;
    z-index: 2;
    right: 0;
    bottom: 0;
}
#click3 {
    position: absolute;
    cursor: ew-resize;
    z-index: 2;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
}
#click4 {
    position: absolute;
    cursor: ew-resize;
    z-index: 2;
    left: 20%;
    top: 0;
    width: 40%;
    height: 20%;
}
#click5 {
    position: absolute;
    cursor: ew-resize;
    z-index: 2;
    left: 60%;
    top: 0;
    width: 40%;
    height: 20%;
}
.course {
    position: absolute;
    width: 20%;
    height: 100%;
    cursor: ew-resize;
    z-index: 2;
}
@keyframes light {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes move {
    from {
        left: 0;
    }
    to {
        left: 400%;
    }
}

/* Panel 1 */
/* ---------------- */
.floor {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    background-color: #2a2a2a;
    z-index: 0;
}
.top {
    position: absolute;
    left: 2%;
    top: 8%;
}
.top p {
    font-size: 13vh;
    color: #3f3f3f;
    font-weight: 200;
}
.sub {
    position: absolute;
    left: 2%;
    top: 42%;
    font-weight: 300;
}
.time {
    position: absolute;
    right: 5%;
    top: 42%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: 300;
    gap: 1rem;
}
.Date, .Time {
    display: flex;
}
.bottom {
    position: absolute;
    left: 3.5%;
    bottom: 10%;
}
.bottom p {
    font-size: 13vh;
    color: #837c7a;
    transform: rotate(180deg) skew(20deg);
}

/* Panel 2 */
/* ---------------- */
.top2 {
    position: absolute;
    left: 35%;
    top: 8%;
}
.top2 p {
    font-size: 13vh;
    color: #3f3f3f;
    font-weight: 200;
}
.bottom2 {
    position: absolute;
    left: 44%;
    bottom: 10%;
}
.bottom2 p {
    font-size: 13vh;
    color: #5E5755;
    transform: rotate(180deg) skew(20deg);
    font-weight: 200;
}


/* Panel 3 */
/* ---------------- */
.house {
    position: relative;
    display: block;
    width: 60%;
    height: 100%;
    margin-left: 30%;
    padding: 0;
}
.roof {
    display: inline-block;
    width: 100%;
    height: 15%;
    transform: skew(-40deg);
    margin-left: 4.3%;
    background-image: repeating-linear-gradient(315deg, rgba(80, 80, 80, 0.401), rgba(128, 128, 128, 0.269) 3px, transparent -19px, transparent 5px);
    background-size: 6px;
}
.wall {
    display: inline-block;
    width: 100%;
    height: 40%;
    margin-top: -0.6%;
    border-radius: 10px;
    background-image: repeating-linear-gradient(-45deg, rgba(76, 76, 76, 0.57), rgba(71, 71, 71, 0.654) 1px, #979797 1px, transparent 6px);
    background-size: 4px 4px;
}
.shadow {
    display: inline-block;
    width: 100%;
    height: 20%;
    background-color: #7b7b7b;
    transform: rotate(180deg) skew(40deg);
    margin-left: 5.8%;
    background-image: repeating-linear-gradient(0deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 4px);
    background-size: 2px;
}
.picblock {
    width: 90%;
    height: 60%;
    margin: 5% auto;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.window {
    width: 45vw;
    height: 100%;
    background-color: transparent;
    opacity: 1;
    cursor: pointer;
}
.window img:hover {
    mix-blend-mode: normal;
}
#window8 {
    background-color: transparent;
    border: none;
    cursor: auto;
}
.window img {
    width: 100%;
    height: 100%;
    mix-blend-mode: difference;
    border-radius: 25px;
}
.title {
    color: rgba(71, 69, 69, 0.77);
    position: absolute;
    font-weight: 300;
    margin-top: -1%;
}
.title2 {
    color: rgba(1, 1, 1, 0.77);
    position: absolute;
    font-weight: 200;
    z-index: 10;
    margin-top: -1%;
}
.view {
    width: 10vw;
    height: 50%;
    background-color: #ffffff;
    border-radius: 5px;
}
.shadow .view {
    background-color: #c0c0c0;
}
.picblock2 {
    width: 90%;
    height: 60%;
    margin: 2% auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: center;
}


/* MODAL */

.modal-container {
    display: none;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 1px beige;
    z-index: 9999;
  }
.dark-mode .modal-container {
    background-color: rgba(255, 255, 255, 0.1); /* Lighten the background */
    color: white;
}
.shadow .modal-container {
    transform: translate(-55%, -35%) rotate(-180deg) skew(-40deg);
}
.board {
    position: absolute;
    left: 7%;
    top: 5%;
    width: 85%;
    height: 90%;
    background-color: #ffffff00;
    overflow: hidden;
    border: 1px solid beige;
    border-radius: 25px;
}

.open {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid beige;
    animation: slide 3s forwards;
    background-image: repeating-linear-gradient(11deg, rgba(89, 89, 89, 0.176), rgba(62, 62, 62, 0.912) 1px, #2c2c2c 1px, transparent 4px);
    background-size: 8px;
    border-radius: 25px;
}

@keyframes slide {
    from {
        top: 0
    }
    to {
        top: -100%;
    }
}