html {
    width: 100%;
}
body{
    background-color: rgb(247, 246, 245);
}
a {
    text-decoration: none;
    color: rgb(171, 171, 171);
}
a:hover {
    color: black;
}


#home {
    position: fixed;
    display: flex;
    flex-direction: row;
    border: solid 0.5px black;
    height: 2vh;
}
#home div {
    padding-right: 1vw;
    padding-left: 1vw;
}
#home a {
    color: black;
}
#home a:hover {
    color: burlywood;
}

#title {
    color: black;
    text-align: right;
    margin-top: 5%;
    height: 10vh;
}

#content {
    width: 100%;
    display: flex;
    flex-wrap:nowrap;
}

h1 {
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10%;
}
h3 {
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2.5em;
    color: black;
}
h2 {
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 3em;
    color: black;
}
p {
    font-size: 2vw;
}


#box1 {
    width: 90%;
    margin: auto;
}
#box1 h3{
    width: 45%;
    float: left;
}
#box1 h2{
    width: 30%;
    float: left;
}
#box1 p{
    width: 25%;
    float: right;
    line-height: 3em;
    text-align: left;
}
.row3{
    color: black;
}
.row3:hover {
    color: burlywood;
}