.heading {
    margin-top: 16%;
    text-align: center;
	font-family: "Lexend", sans-serif;
	font-size: 8.5em;
	font-weight: 100;
    line-height: 0;
}

.paragraph {
    text-align: justify;
}

.paragraph p {
    width: 60%;
    margin: 0 auto;
	font-family: "Lexend", sans-serif;
	font-size: 16px;
	font-weight: 200;
    line-height: 1.6em;
}

.back {
    margin: 7% auto;
    width: 100px;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 50%;
    animation: shine 3s infinite;
    opacity: 1;
}

@keyframes shine {
    0%{
        opacity: 1;
    }
    40%{
        opacity: 0.2;
    }
    80%{
        opacity: 1;
    }
}