/* setting */
html {
	font-family: sans-serif;
	cursor: crosshair;
    background-color: #0f0f0f;
}
body {
    position: relative;
	user-select: none;
	color: #1e1e1e;
    background-color: #fbfbfb;
}

/* nav */
a {
	text-decoration: none;
}
#title {
	position: fixed;
	top: 2%;
    left: 3%;
	font-family: "Lexend", sans-serif;
	font-size: 40px;
	font-weight: 100;
    transition: all 0.5s ease;
    cursor: crosshair;
    opacity: 0.3;
    color: white;
    mix-blend-mode: difference;
}
#title:hover {
    opacity: 1;
}
.inverted {
    color: white;
}


/* text */
article {
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20%;
    left: 3%;
    gap: 1rem;
    color: white;
    mix-blend-mode: difference;
}
article div {
    line-height: 13px;
}
.Title {
	font-family: "Lexend", sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.Content {
	font-family: "Lexend", sans-serif;
    font-size: 40px;
    font-weight: 100;
}
#next {
    width: 55px;
    aspect-ratio: 1/1;
    position: fixed;
    background-image: url(/studio/02_elastic-collection/media/next.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: 3%;
    bottom: 6%;
    opacity: 20%;
	cursor: crosshair;
    filter:invert(1);
    mix-blend-mode: difference;
    z-index: 100;
}
#back {
    width: 55px;
    aspect-ratio: 1/1;
    background-image: url(/studio/02_elastic-collection/media/back.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    left: 3%;
    bottom: 6%;
    opacity: 20%;
	cursor: crosshair;
    filter:invert(1);
    mix-blend-mode: difference;
    z-index: 100;
}
#next:hover, #back:hover {
    transition: all 0.5s ease-in;
    opacity: 1;
}

/* image */

.clickable-div {
    z-index: -1;
    position: fixed;
    right: 5%;
    top: 5%;
    width: 65%;
    height: 90%;
    background-image: url(/studio/02_elastic-collection/media/9-.png);
    background-color: #fbfbfb;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
    cursor:help;
}


@media only screen and (max-width: 600px){
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #title {
        opacity: 1;
    }
    .Content {
        font-size: 30px;
    }
    article div {
        line-height: 5px;
    }
    article {
        left: 3%;
        top: 62%;
        gap: 0;
    }
    .clickable-div {
        z-index: 1;
        height: 40vh;
        margin: 15% auto;
    }
    #click {
        z-index: 2;
        position: fixed;
        left: 3%;
        bottom: 52%;
    }
    #back {
        bottom: 14%;
        left: 83.5%;
        opacity: 60%;
    }
    #next {
        bottom: 3%;
        right: 0.5%;
        opacity: 60%;
    }
}