html {
    background-color: #edf9ec;
}
body {
    display: flex;
    flex-direction: column;
    margin: 5% 5% 10%;
    border: solid 1px #19b904;
    background-color: #f8f8f8;
    height: 100%;
}
/* GENERAL */
h1 {
    font-weight: 100;
    font-size: 2em;
    font-family: "M PLUS 1", sans-serif;
}
p {
    font-family: "M PLUS 1", sans-serif;
    font-weight: 200;
}
#Green {
    color: #19b904;
    font-weight: 300;
}
/* HEADER */
header {
    line-height: 15px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
header h1 {
    font-family: 'Hepta Slab';
    letter-spacing: -10px;
}
#Event {
    margin-top: 10%;
    font-size: 16vw;
    line-height: 1em;
}
#Series {
    font-size: 10vw;
    color: var(--dynamic-bg-color);
}
header a {
    text-decoration: none;
    font-family: "Hepta Slab", serif;
    color: rgb(150, 150, 150);
    float: right;
    font-weight: 200;
    cursor: help;
}
header a:hover {
    color: #19b904;
}


/* Time */
#Update {
    position: sticky;
    top: 1%;
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    color: var(--dynamic-bg-color);
}
#Date {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
}
#Time {
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: #f8f8f89d;
    z-index: 10;
}

/* RATIO */
#Ratio {
    margin: 0 auto;
    line-height: 0;
    margin-top: -3%;
    z-index: 1;
}
#Ratio span {
    display: flex;
}
#Ratio h1{
    font-size: 25vw;
    text-align: left;
    font-family: "Hepta Slab", serif;
    font-weight: 1;
}
.unit {
    display: block;
    margin-top: 15%;
    font-family: "Hepta Slab", serif;
    cursor: help;
}
.texthover {
    position: absolute;
    visibility: hidden;
    width: fit-content;
    transform: translateY(-1.3vh);
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
    transition: visibility 0.2s ease-in-out;
}
.unit:hover .texthover{
    visibility: visible;
}

/* LEVEL */
nav {
    position: absolute;
    margin-top: 50vh;
    line-height: 120vh;
    z-index: 100;
}
.level {
    font-family: 'Hepta Slab';
    font-weight: 100;
    font-size: 2em;
    display: flex;
    cursor: help;
}
.texthover4 {
    position: absolute;
    visibility: hidden;
    width: 75%;
    transform: translateY(63vh);
    padding: 10px 10px;
    font-size: 2vw;
    font-weight: 300;
    text-align: left;
    transition: visibility 0.2s ease-in-out;
    line-height: 3vh;
}
.level:hover .texthover4 {
    visibility: visible;
}

/* Key */
.key {
    font-family: "M PLUS 1", sans-serif;
    font-weight: 200;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 40%;
    margin: 3% auto 0;
    align-items: center;
    text-align: center;
    gap: 1rem;
    border: 1px solid #19b904;
    padding: 1rem 0 2rem;
}
#one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: help;
    gap: 0.5rem;
}
.texthover2 {
    position: absolute;
    visibility: hidden;
    width: 20%;
    transform: translateX(5vw);
    padding: 10px 0;
    text-align: center;
    transition: visibility 0.2s ease-in-out;
}
#one:hover .texthover2 {
    visibility: visible;
}
#two {
    width: 100%;
    margin: 0;
    font-family: "M PLUS 1", sans-serif;
    font-weight: 200;
}
#two span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    text-align: left;
    justify-content: center;
}
#line {
    width: 40%;
    height: 1px;
    background-color: #19b904;
    cursor: help;
}
.texthover3 {
    position: absolute;
    visibility: hidden;
    width: 20%;
    transform: translateX(-20vw) translateY(-3vh);
    padding: 10px 0;
    text-align: center;
    transition: visibility 0.2s ease-in-out;
}
#line:hover .texthover3 {
    visibility: visible;
}
#Color {
    width: 100%;
    margin: 0;
    font-family: "M PLUS 1", sans-serif;
    font-weight: 200;
}
#Color span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    text-align: left;
    justify-content: center;
}
#pallete {
    width: 20%;
    height: 5px;
    background: linear-gradient(to right, rgb(0, 232, 0), red);
}

/* ABOUT */
#About {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 15% auto 0;
    text-align: center;
    gap: 2rem;
    background-color: #f8f8f89d;
    z-index: 1;
}

/* EVENTS */
main {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-top: 20vh;
}
.Events {
    width: 47%;
    margin: 4% auto;
    text-align: center;
    border: solid 1px black;
    height: fit-content;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #f8f8f89d;
    z-index: 1;
}
.Large {
    font-size: 20vw;
    font-family: "Hepta Slab", serif;
    font-weight: 1;
    margin-left: -5%;
    margin-top: -20%;
}
.Events h1 {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5em;
}
.Events p {
    width: 80%;
    margin: 5vh auto;
}
#End {
    margin: 10vh auto;
    text-align: center;
    background-color: #f8f8f89d;
    z-index: 1;
}
#End .Large {
    margin-left: 2%;
}

/* FALL DOWN */
/* ------------------- */

.fall {
    width: 98%;
    top: -10%;
    left: 2%;
    position: absolute;
    pointer-events: none;
}
.line {
    position: absolute;
    width: 35%;
    height: 1px;
    background-color: var(--dynamic-bg-color);
    animation: fall 3s ease-in forwards;
}
@keyframes fall {
    from {
        top: 0;
    }
}


@media screen and (max-width: 1050px){

    main {
        gap: 1.5rem;
    }
    .Events {
        width: 55%;
    }
    .Events h1 {
        margin: 1vh auto 2vh;
    }
    .Events p {
        width: 60%;
    }
}
@media screen and (max-width: 850px){

    .Events {
        width: 65%;
    }
    .Events h1 {
        margin: 1vh auto 2vh;
    }
    .Events p {
        width: 60%;
    }
}
@media screen and (max-width: 700px){

    #Ratio h1 {
        font-size: 30vw;
        font-weight: 100;
    }
    main {
        margin-top: 15vh;
    }
    .Events {
        width: 70%;
        margin: 6% auto;
    }
}
@media screen and (max-width: 630px){

    .Events {
        width: 80%;
    }
    .Events h1 {
        margin: 5vh auto 2vh;
    }
}
@media screen and (max-width: 570px){

    .Events {
        width: 90%;
    }
    .Events h1 {
        margin: 5vh auto 2vh;
    }
    .Events p {
        width: 60%;
    }
    #About {
        width: 70%;
        margin: 10vh auto;
    }
}
@media screen and (max-width: 480px){

    h1 {
        font-weight: 200;
        font-size: 1.5em;
    }
    p {
        font-family: "M PLUS 1", sans-serif;
        font-weight: 200;
    }
    nav {
        margin-top: 82vh;
        line-height: 30vh;
    }
    header a {
        color: #19b904;
        float: none;
        font-weight: 300;
        margin-top: -10px;
    }
    #Ratio h1{
        font-size: 35vw;
        font-weight: 100;
    }
    #Container {
        margin-top: 8vh;
    }
    #Container::after {
        width: 35vw;
    }
    #About {
        width: 100%;
    }
    #About p {
        width: 80%;
        margin: 0 auto;
    }
    main {
        margin-top: 10vh;
        gap: 2rem;
    }
    .Events {
        width: 100%;
    }
    .Events h1 {
        width: 70%;
        margin: 4vh auto 2vh;
    }
    .Events p {
        width: 75%;
        margin: 0 auto;
    }
    .unit:hover .texthover {
        visibility: hidden;
    }
}
