html {
    background-color: rgb(255, 241, 202);
    color: red;
}

body {
    background-color: #fcd26e;
    margin: 2vw;
}

.Nav-list {
    display: flex;
    flex-direction: column;
    list-style-type:none;
    position: fixed;
    bottom: 0;
}
.Nav-list li {
    text-align: center;
    padding: 1vh;
}
.Nav a {
    font-family: 'Dokdo', system-ui;

    color: rgb(255, 78, 29);
}
.Nav-list img {
    width: 20px;
}

.links {
    top: 28%;
    margin-left: 4vw;
    font-size: 2vw;
    position: fixed;
}

.Sun {
    position: fixed;
    right: 5%;
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    animation: Sun 35s infinite, Act 20s reverse;
}
@keyframes Sun {
    0% {
        background-color: #ffebbd;
    }
    50%{
        background-color: coral;
    }
    70%{
        background-color: rgb(225, 42, 32);
    }
    100% {
        background-color: #ffebbd;
    }
}
@keyframes Act {
    0% {
        top: 10%
    }
    100% {
        top: 80%;
    }
}

/*body*/

p {
    font-family: 'Pompiere', sans-serif;
    font-size: 2.5vw;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover {
    color: crimson;
}

h1 {
    width: 50%;
    margin: auto;
    font-family: 'Dokdo', system-ui;
    text-align: center;
    border: solid 1px rgb(255, 242, 224);
}

h2 {
    color: black;
}

.MainHeader {
    font-size: 3.2vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5% 0 20%;
}

.SubTitle {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 7vh;
}

.Part {
    background-color: #ffffff4c;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 10vh;
}

.SubHeader {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 2vh;
    padding-bottom: 1.5vh;
    background-color: rgba(240, 255, 255, 0.151);
    border: solid 1px red;
}

.Segment {
    margin: 2em;
}

.Segment p {
    padding-bottom: 2em;
    width: 80%;
    margin: auto;
    text-decoration-line: overline underline;
    text-decoration-color: rgba(255, 0, 0, 0.183);
    line-height: 9vh;
}

.sunny, .mac, .sound, object {
    width: 30vw;
    padding-bottom: 6vh;
}

object {
    aspect-ratio: 4/3;
}