/* setting */
html {
	cursor: crosshair;
}
body {
	user-select: none;
	color: #1e1e1e;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* nav */
a {
	text-decoration: none;
	color: #1e1e1e;
}
#title {
    width: fit-content;
    height: fit-content;
	position: relative;
	font-family: "Lexend", sans-serif;
	font-size: 20px;
	font-weight: 200;
    margin: 2% 0 4% 6%;
    padding: 2px 4px;
	border: 0.5px solid #1e1e1e;
    transition: background-image 0.5s ease;
}
#title:hover {
	background-color: #1e1e1e;
    color: white;
	font-weight: 100;
	cursor: crosshair;
}

#links {
    position: relative;
    width: 75%;
    margin: 10% auto;
	border: 0.5px solid #1e1e1e;
    display: flex;
    justify-content: space-between;
    padding: 1% 4%;
}
#shuffle {
    position: relative;
    width: 30px;
    aspect-ratio: 1/1;
    background-image: url(/studio/02_elastic-collection/media/sh.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#questionmark {
    position: relative;
    width: 30px;
    aspect-ratio: 1/1;
    background-image: url(/studio/02_elastic-collection/media/qm.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* text */
article {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    line-height: 0.5em;
    font-size: 14px;
    background-color: white;
    margin: 0 auto;
}
article div {
    display: flex;
    justify-content: space-between;
}
.Title {
	font-family: "Lexend", sans-serif;
    font-weight: 300;
}
.Content {
	font-family: "Lexend", sans-serif;
    font-weight: 100;
}

/* image */
.clickable-div {
    z-index: -1;
    position: relative;
    margin: 0 auto;
    width: 350px;
    aspect-ratio: 2/3;
    background-image: url(/studio/02_elastic-collection/media/m1-.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}