/* setting */
html {
	font-family: sans-serif;
	cursor: crosshair;
}
body {
	user-select: none;
	color: #1e1e1e;
}


/* NAV */
a {
	text-decoration: none;
	color: #1e1e1e;
}
a:hover {
	cursor: url(../media/cursor.png),default;
}
#adjust {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: fixed;
	right: 30px;
	bottom: 30px;
}
button {
	width: 80px;
	font-family: "Lexend", sans-serif;
	font-size: 60px;
	font-weight: 100;
	aspect-ratio: 1/1;
	background-color: #fefefe40;
	border-radius: 0;
	border: 1px solid #1e1e1e82;
	transition: all 0.5s;
}
button:hover {
	background-color: #1e1e1e;
	color: #f2f2f2;
	font-weight: 100;
	cursor: crosshair;
}
nav {
	z-index: 999;
}
#title {
	position: absolute;
	top: 10px;
	font-family: "Lexend", sans-serif;
	font-size: 40px;
	font-weight: 100;
	padding: 2px 6px;
	border: 1px solid #1e1e1e;
	transition: all 0.5s;
}
#title:hover {
	background-color: #1e1e1e;
	color: #f2f2f2;
	font-weight: 100;
}
#about {
	font-size: 2em;
	font-family: "Lexend", sans-serif;
	font-weight: 100;
	text-align: justify;
	width: fit-content;
	height: fit-content;
}
#about a {
	position: absolute;
	top: 2%;
	right: 1%;
	border: 1px solid #1e1e1e;
	padding: 0 5px;
	transition: all 0.5s;
}
#about a:hover {
	background-color: #1e1e1e;
	color: #f2f2f2;
	font-weight: 100;
	cursor: crosshair;
}

/* content */
.space {
	width: 100%;
	padding: 0;
	margin: 20% 0;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-around;
	cursor: url(../media/cursor.png),default;
}
.Spot {
	width: 300px;
	align-content: center;
}
.Spot img {
	width: 100%;
}
img {
	image-rendering: pixelated;
}

/* Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 5%;
	bottom: 3%;
	width: auto;
	height: auto;
	margin: 0 auto;
	cursor: url(../media/cursor.png),default;
}
.modal-content {
	background-color: #fefefe7f;
	width: 100%;
	font-family: "Lexend", sans-serif;
	font-size: 4em;
	font-weight: 100;
	text-align: center;
	padding: 0 0;
}