/* setting */
html {
	font-family: sans-serif;
	cursor: crosshair;
}
body {
	user-select: none;
	color: #1e1e1e;
	background-color: white;
}
.body-hovered {
	background-color: #1e1e1e;
	color: #f2f2f2;
}


/* NAV */
a {
	text-decoration: none;
	color: #1e1e1e;
}
a:hover {
	cursor: url(../media/cursor.png),default;
}
#adjust {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	position: fixed;
	right: 20%;
	top: 10px;
}
button {
	width: 55px;
	font-family: "Lexend", sans-serif;
	font-size: 35px;
	font-weight: 100;
	aspect-ratio: 1/1;
	background-color: #fefefe40;
	border-radius: 0;
	border: 1px solid #1e1e1e82;
	transition: all 0.5s;
	cursor: grabbing;
}
.button-hovered {
	background-color: #1e1e1e;
	color: #f2f2f2;
}
nav {
	z-index: 999;
}
#title {
	position: absolute;
	left: 5%;
	top: 10px;
	font-family: "Lexend", sans-serif;
	font-size: 40px;
	font-weight: 100;
	padding: 2px 6px;
	transition: all 0.5s;
}
#title:hover{
	background-color: #1e1e1e;
	color: #f2f2f2;
	font-weight: 100;
}
#about {
	font-size: 2em;
	font-family: "Lexend", sans-serif;
	font-weight: 100;
	text-align: justify;
	width: fit-content;
	height: fit-content;
	cursor: grabbing;
}
#about a {
	position: absolute;
	top: 2%;
	right: 8%;
	padding: 0 5px;
	transition: all 0.5s;
}
.about-a-hovered {
	background-color: #1e1e1e; 
	color: #f2f2f2; 
}

/* content */
.space {
	width: 90%;
	padding: 0;
	margin: 10% auto;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-evenly;
	cursor: url(../media/cursor.png),default;
}
.Spot {
	width: 300px;
	align-content: center;
}
.Spot img {
	width: 100%;
}
img {
	image-rendering: pixelated;
}

/* Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 5%;
	bottom: 3%;
	width: auto;
	height: auto;
	margin: 0 auto;
	cursor: url(../media/cursor.png),default;
}
.modal-content {
	background-color: #fefefe7f;
	width: 100%;
	font-family: "Lexend", sans-serif;
	font-size: 4em;
	font-weight: 100;
	text-align: center;
	padding: 0 0;
}
@media only screen and (max-width: 1000px){
	#title {
		left:2%;
	}
	#adjust {
		top: 26%;
		right: 4%;
	}
	#title {
		font-size: 14.5vw;
	}
	#about a {
		width: fit-content;
		top: 26%;
		left: 2%;
		right: none;
		border: none;
	}
	.space {
		margin: 50% auto;
		margin-bottom: 15%;
		justify-content: space-between;
	}
}
@media only screen and (max-width: 600px){
	#title {
		left:2.5%;
	}
	#adjust {
		top: 11%;
		right: 5%;
	}
	#title {
		font-size: 14vw;
	}
	#about a {
		width: fit-content;
		top: 11%;
		left: 3%;
		right: none;
		border: none;
	}
	.space {
		margin: 50% auto;
		margin-bottom: 15%;
		justify-content: space-between;
	}
}