body {
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 166, 87);
}
a {
    text-decoration: none;
    color: black;
}

text {
    display: inline-flex;
    gap: 1rem;
    align-items: baseline;
    margin: 1vh auto;
}

iframe {
    width: 90%;
    aspect-ratio: 4/3;
    margin: 0 auto;
}