html {
    color: #2b56cd;
    background-color: white;
}


body {
    max-width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: azure;
    text-decoration: none;
}

p {
    font-size: 1em;
}

/*Nav*/
.Fieldset {
    display: flex;
    margin: 2em auto;
    width: 83%;
    border: solid 1px #2b56cd;
}

.Fieldset-header {
    margin-right: 2em;
}

/*Header*/

.Header {
    max-width: 85%;
    border: solid 1px #2b56cd;
    margin: 2em auto;
}

.Header-title {
    width: 100%;
    margin: 10vh auto 0;
    font-size: 4em;
    text-align: center;
    word-wrap: break-word;
}

/*Nav*/

.Nav {
    width: 85%;
    margin: 0 auto 4em;
}

.Nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.Nav-item {
    width: max-content;
    padding: 2vh;
    margin: 2vh auto;
    border: 1px solid rgb(211, 226, 247);
    text-align: center;
    font-size: 1em;
    border-radius: 25px;
}
.Nav-item:hover {
    background-color: #d4ddf7;
}

.Nav-link {
    text-decoration: none;
    color: aliceblue;
}

.Nav-link:hover {
    color: rgb(30, 100, 241);
    font-weight: 800;
}

/*Page*/

.Page {
    width: 85%;
    margin: auto;
    border: solid 1px #2b56cd;
}

.Page-header, .Post {
    margin: 0 auto 0;
    width: 85%;
}

.Page-header { 
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
}

.Meta {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.Meta-tag {
    font-size: 1em;
}

.Post {
    width: 85%;
}

.Post ol, ul{
    color: aliceblue;
    padding: 0 1em;
    background-color: #2b56cd;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.Post li{
    height: min-content;
    width: max-content;
    font-size: 1em;
    margin: 1em 1em;
    padding: 1em;
    background-color: #d4ddf728;
    text-align: center;
    border-radius: 30px;
}

.Post img {
    width: 20%;
    margin: 3em auto;
    border: solid 4px #2b56cd;
    border-style: double;
}

/*Calendar*/

.Calendar-weekHeader {
    margin: 1em 3em;
    font-size: 2em;
}

.Calendar-class {
    margin: 1em 4em;
}

.Calendar-class[data-class="studio"] {
    background-color: #f0f4fe;
    border: 1px solid #2b56cd13;
}
.Calendar-class[data-class="lab"] {
    background-color: #f1f7ff;
    border: 1px solid #88a6ff;
}

.Calendar-class[data-class="lab"] h3,[data-class="studio"] h3{
    margin: 0.5em 1.5em;
}

.Calendar-class div {
    margin: 0 2em;
}

.Calendar-class li {
    margin: 1em 2em;
    padding: 0.5em 1em;
    border: solid 1px rgba(212, 217, 255, 0.232);
    background-color: #d4ddf727;
    font-size: 1em;
    list-style: none;
}

.Calendar-class li:hover {
    background-color: #7691e8;
}

/*Post*/

.PostList {
    width: 85%;
    margin: 2em auto;
    padding: 1rem 1rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.PostList-item {
    padding: 1rem;
    border-radius: 10px;
    border: double 2px #1f75e6;
    background-color: #6fa9fc;
}
.PostList-link {
    font-size: 0.8em;
    line-height: 0.6em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.PostList-item:hover{
    background-color: #2b56cd;
}

.Meta {
    display: flex;
    gap: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Footer*/

.Footer {
    text-align: center;
    margin: 2em;
}


@media only screen and (max-width:1024px){
    .Header-title {
        font-size: 2em;
    }
}